.icon-b-close-btn-ie:before {
  display: block;
  background-image: url(b.png);
  background-position: -69px 0px;
  width: 69px;
  height: 22px;
}
.icon-b-close-btn:before {
  display: block;
  background-image: url(b.png);
  background-position: -69px -27px;
  width: 69px;
  height: 22px;
}
.icon-b-icons:before {
  display: block;
  background-image: url(b.png);
  background-position: 0px 0px;
  width: 64px;
  height: 100px;
}
